
/* #appointment-list {} */


#right-main-content {
    padding-top: 5%;
    background-color: white;
    /* margin: auto; */
    /* padding-left: 3%; */
    /* margin-top: 5%; */

}

#right-main-content h2 {
    padding-left: 2%;
}